#box1 {
  align-items: center;
  max-width: 500px;
  justify-content: center;
  border: 1px solid;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  background-color: whitesmoke;
}
#box1 #header {
  align-items: center;
  background-color: rgb(33, 26, 26);
  width: 100%;
  color: whitesmoke;
}

#box1 #header h3{
  padding-bottom: 10px;
}
